/* last modified 2021-01-15 */

@import url("./asciidoctor.css");

.datasheet .question {
    font-style: normal;
    font-weight: bold;
}

.datasheet .question p { /* this level of specifity needed for bold -- why? */
    font-weight: bold;
}

.datasheet .answer {
    font-style: italic;
}

.datasheet .optional::before {
    content: none;
}

/*
.question {
    margin-top: 2ex;
    margin-bottom: 2ex;
    font-style: italic;
}
*/
