*.bz2
.DS_Store
.checksum.md5txt
coverage-report.*
**/.DS_Store
.error.tmp
/index.adoc
README.html
asciidoctor.css
.build-pathway.env
*.bz2
.checksum.md5txt
coverage-report.*
curriculum.sublime-*
**/.DS_Store
.error.tmp
/index.adoc
index.html
sshcmd.tmp
started
typescript
lib/maker/cache.json
coverage-report.*
lessons/Hour-of-Code/hoc-winter-parley/langs/en-us/repartee/
node_modules/*
package-lock.json
*Zone.Identifier
curriculum.sublime-*
.error.tmp
.tmp*
pathways/__sample/langs/en-us/lesson-order.txt
zample-lesson/index.adoc
