@import url("./shared.css");

.recipe_name::after {
  content: "function name";
}

.codap .recipe_name::after {
  content: "transformer name";
}

.recipe_purpose::after {
  content: "what does the function do?";
}

.codap .recipe_purpose::after {
  content: "Purpose: what does the formula do for each row?";
}

.recipe_domain::after {
  content: "domain";
}

.recipe_range::after {
  content: "range";
}

.recipe_variables::after {
  content: "variable(s)";
}

.recipe_example_inputs::after {
  content: "input(s)";
}

.recipe_example_body::after,
.recipe_example_body_short::after,
.recipe_example_body_long::after {
  content: "what the function produces";
}

.recipe_definition_body::after {
  content: "what the function does with those variable(s)";
}

.codap .recipe_formula::after {
  content: 'i.e. Weight < 20 or Species = "rabbit". Pay careful attention to capitalization and quotation marks.';
}

.Optional::before {content: "Optional: ";}
.OptProject::before { content: "Optional Project "; }