@import url("./shared.css");

.recipe_name::after {
  content: "function name";
}

.recipe_purpose::after {
  content: "what does the function do?";
}

.recipe_domain::after {
  content: "domain";
}

.recipe_range::after {
  content: "range";
}

.recipe_variables::after {
  content: "variable(s)";
}

.recipe_example_inputs::after {
  content: "input(s)";
}

.recipe_example_body::after {
  content: "what the function produces";
}

.recipe_definition_body::after {
  content: "what the function does with those variable(s)";
}
