/************************* CM Hack *****************************/
.CodeMirror-scroll { height: unset !important; }
.header-container { min-width: 460px !important; }
.prompt { width: 90% !important; }

/************************* HOC STYLES *****************************/
body {
  padding: 0px;
  margin: 0px;
  background: rgba(214, 255, 169, 0.34);
  font-family: Lato, Century Gothic, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

#banner, #footer{
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: solid 2px black;
  text-align: left;
  background: black;
  color: white;
  padding: 5px;
}
#banner { top: 0px; font-size: 30px; font-weight: 600; }
#footer { bottom: 0px; font-size: 10px; }
#footer a { color: aaaaff; }
#banner * { vertical-align: middle; }

#lesson {
  position: absolute;
  top:      100px;
  bottom:   100px;
  width:      400px;
  overflow-x: hidden;
  overflow-y: scroll;
  border:     solid 1px;
  border-radius: 20px;
  position:     absolute;
  left:         25px;
  background:   white;
  -webkit-box-shadow:inset 0px 0px 5px black;
  -moz-box-shadow:inset 0px 0px 5px black;
  -ms-box-shadow: inset 0px 0px 5px black;
  box-shadow: inset 0px 0px 5px black;
}
ul#cards{
  margin: 0px;
  padding: 0px;
  width: 10000px;
  position: absolute;
  -webkit-transition: all 1s;
  -moz-transition:  all 1s;
  -o-transition:    all 1s;
  transition:       all 1s;
}
ul#cards>li{
  float: left;
  width: 360px;
  height: 100%;
  text-align: left;
  margin: 20px;
  list-style: none;
}
ul#cards h1{ margin-top: 0px; line-height: 1.1;}
.activity {
  background: rgba(117,50,138,.2);
  border-top: dashed 1px black;
  border-bottom: dashed 1px black;
}
a#prev, a#next, a#reset {
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: solid 1px gray;
  text-decoration: none;
  top: 45%;
  text-align: center;
  z-index: 9;
  line-height: 2.2;
  box-shadow: 2px 2px 5px #888888;
  display: none;
}
a#prev:hover, a#next:hover{background: black; color: white;}
a#prev:active, a#next:active{margin-left: 1px; margin-top: 1px; box-shadow: none;}

a#prev{left: 5px;}
a#next,a#reset{left: 415px;}
a#reset{top: 50%;}
#righthand.resetting { animation: fadeIn 2s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/***********************************************************************/

#righthand, #loadingScreen {
  position: absolute;
  top:    100px;
  bottom: 100px;
  left:   500px;
  right:  50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: opacity linear 1s;
}
#righthand { 
  overflow: hidden; 
  border:  solid 1px black; 
  box-shadow: inset 0px 0px 5px black; 
  min-width: 620px;
}

#righthand > div { width: 100%; }
#righthand .chats .chat-and-result:first-child { 
  margin-top: -35px;
  height: 4ex;
  border-bottom: solid 1px gray; 
}
#righthand .chats .chat-and-result:first-child .chat {
  border: none; 
  pointer-events: none;
}
#righthand .chats .chat-and-result:first-child .chat * { 
  color: gray !important; 
  background: none !important;
}
#righthand img { position: absolute; z-index: 1; }
#righthand video { width: 100%; }
#righthand .embeddedWescheme{position: absolute; top: 0px; left: 0px; right: 0px; min-width: 500px; bottom: 30px; z-index: 1;}
.refreshButton {background: black; color: white; font-size: 14px; border: outset 1px; height: 20px; display:block;}
#header{display:none;}
#progressbar{position: absolute; top: 62px; left: 0px; height: 2px; background: white; width: 0px;
-webkit-transition: all 1s;
  -moz-transition:  all 1s;
  -o-transition:    all 1s;
  transition:       all 1s;}

/************************* LOADING SCREEN *****************************/

#loadingScreen {
  flex-direction: column;
  font-size: 30pt;
  color: white;
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
  opacity: 1;
  transition: bottom linear 3s;
}
#loadingScreen:after { 
  content: 'Loading the Editor, just for you! \A (This may take up to a minute.)'; 
  white-space: pre-wrap;
  line-height: 50pt; 
  text-align: center;
}
#loadingScreen.loaded { bottom: 10000px;}
#loadingScreen.loaded:after { content: '';}
#snowflakes { top: -150px; position: absolute; }
.loaded #snowflakes { top:  -100px; height: 62px; overflow: hidden; }
#snowflakes i, #snowflakes i:after, #snowflakes i:before {
  background: white;
}
#snowflakes i {
  display: inline-block;
  -webkit-animation: snowflakes 3s linear 2s 20;
  -moz-animation: snowflakes 3s linear 2s 20;
  position: relative;
}
#snowflakes i:after, #snowflakes i:before {
  height: 100%;
  width: 100%;
  content: ".";
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(120deg);
}
#snowflakes i:before {
  -webkit-transform: rotate(240deg);
}
@-webkit-keyframes snowflakes {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);
  }
  100% {
    -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
  }
}
#snowflakes i:nth-child(3n) {
  width: 16px;
  height: 4px;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 30;
  -webkit-transform-origin: right -45px;
}
#snowflakes i:nth-child(3n+1) {
  width: 24px;
  height: 6px;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: 45;
  -webkit-transform-origin: right -30px;
}
#snowflakes i:nth-child(3n+2) {
  width: 32px;
  height: 8px;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 60;
  -webkit-transform-origin: right -15px;
}
/* different delays so they don't all start at the same time */
#snowflakes i:nth-child(7n) {
  opacity: 0.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
}
#snowflakes i:nth-child(7n+1) {
  opacity: 0.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
}
#snowflakes i:nth-child(7n+2) {
  opacity: 0.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function: linear;
}
#snowflakes i:nth-child(7n+3) {
  opacity: 0.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: ease-in;
}
#snowflakes i:nth-child(7n+4) {
  opacity: 0.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function: linear;
}
#snowflakes i:nth-child(7n+5) {
  opacity: 0.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function: ease-out;
}
#snowflakes i:nth-child(7n+6) {
  opacity: 0.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function: ease-in;
}
