RewriteEngine On

# 1. Capture the path relative to THIS .htaccess file
# If the file is 'folder/sub/file.pdf', $1 will become 'sub/file.pdf'
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ /access-bridge.php?file=%{REQUEST_URI} [L,QSA]

# 2. This path is sent to /access-bridge.php, a script that actively
# checks to see if the user is logged into WP.